# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intellijProjects\php-tutorial1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
modules.xml
misc.xml
vcs.xml
*.iml
